<div wm-slider>
    <p>
        <img src="http://files.cod3r.com.br/curso-web/imagem1.jpg"
            alt="Muro da Cidade" width="513" height="342"
            title="Muro da cidade por Tarso Bessa">
    </p>
    
    <p>
        <img src="http://files.cod3r.com.br/curso-web/imagem2.gif" 
            alt="Intro cod3r" height="342">
    </p>
    
    <p>
        <img src="http://files.cod3r.com.br/curso-web/imagem3.png" 
            alt="RJ" height="342">
    </p>
    
    <p class="texto">
        <img src="http://files.cod3r.com.br/curso-web/avatar.jpg" 
            alt="Avatar" height="50" align="left">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Tempora, impedit quia quasi aliquid iusto consectetur libero corporis, 
        error exercitationem reiciendis molestias facilis similique? 
        Velit repellendus, ratione id nihil neque ab, necessitatibus 
        impedit dolorum facilis cumque doloremque fugiat magnam at et amet
         dignissimos. Voluptate, sapiente.
    </p>
    
    <!-- imagem a partir do css -->
    <p class="cidade"></p>
    
    <p>
        <!-- condicionais do html para fotos -->
        <picture>
            <source srcset="http://files.cod3r.com.br/curso-web/logo-larga.png"
                media="(min-width: 600px)"> <!-- if img >= 600px -->
    
            <!-- default -->
            <img src="http://files.cod3r.com.br/curso-web/logo-estreita.png" alt="Logo">
        </picture>
    </p>
</div>

<style>
    .texto {
        width: 400px;
    }

    .texto img {
        margin-right: 10px;
    }

    .cidade {
        width: 513px;
        height: 342px;
        background-image: url('http://files.cod3r.com.br/curso-web/imagem4.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
</style>
