<head>
    <style>
        abbr, ins {
            text-decoration: none;
        }
    </style>
</head>

<!-- Cabeçalhos -->
<h1>cabeçalho principal</h1> <!-- p.ex. título do livro -->
<h2>cabeçalho nível 1</h2> <!-- p.ex. subtítulo do livro -->
<h2>cabeçalho nível 2</h2>


<!-- Parágrafo -->
<p>
    <!-- lorem20 [tab] -->
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Sunt error sequi est. Molestiae, veniam rem numquam 
    consectetur quia et commodi.
</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, aliquid.</p>


<!-- Quebra de linha temática -->
<p>assunto 1</p>
<hr />
<p>assunto 2</p>


<!-- Marcações semânticas: forte e ênfase -->
<p><strong>Lorem</strong>, ipsum dolor. <em>Sit amet.</em></p>


<!-- Citação -->
<blockquote cite="http://www.google.com"> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Maxime eum quo dolor consequatur sed nam facilis in, 
    voluptatem explicabo rem tenetur commodi sit recusandae 
    laudantium rerum, tempore, libero deleniti dolorem.
</blockquote> <!-- citações longas -->

<!-- curtas  -->
<p>Fulando disse que <q>tempor incididunt ut labore et dolore</q></p>

<!-- Abreviação e referência -->
<p>
    <abbr title="Professor">Prof.</abbr> João em seu livro
    <cite>Roubou Pão</cite> defendeu que o roubo nunca
    foi feito de fato, mas sim que o meliante sei lá
</p>

<!-- Definição -->
<p><dfn>Buraco negro</dfn>: é a região do espaço que</p>

<!-- Endereço -->
<address>
    <p>Rua AB, n<sup>o</sup> 123...</p>
</address>

<!-- Remover e inserir semanticamente -->
<p>O Oscar vai para <del>La La Land</del> <ins>Moonlight</ins></p>

<!-- Trecho que não é mais válido -->
<p>Computador de <s>R$ 2.249,90</s> por R$ 1.799,00</p>
